[w-el~="load_app"] { 
	opacity: 1;
}

.capsule-body { 
	display: flex !important;
}

.app-slide-image { 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app-hero-image { 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.capsule-image-block { 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a, button { 
	user-select: none !important;
}

.styles-classes ul li { 
	padding-top: 10px;
  padding-bottom: 10px;
}
	a { 
  	text-decoration: none;
    color: inherit;
  }
  


.w-form-formradioinput--inputType-custom.w--redirected-focus {
    box-shadow: none !important;
}


.blog-image { 
	object-fit: cover;
}


/* Slider Dots Styles Override */
.w-slider-dot {
  width: 8px;
  height: 8px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  background-color: hsla(0, 0.00%, 100.00%, 0.50);
}

.w-slider-dot:active {
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
}

.diff-trigger {
   -webkit-user-select: none; /* Safari */
  user-select: none;
}

.toggle-button-trigger {
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

/*.app {
overflow-x: hidden;
}*/